.studentInfo {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 550px;
  position: absolute;
  right: 20px;
  top: 80px;
  color: grey;
  background-color: rgb(218, 231, 247);
  border-radius: 20px;
  overflow: hidden;
  overflow-y: scroll;
}

/* Events */
#scaleStudenInfo {
  width: 90%;
}

.studentInfo::-webkit-scrollbar {
  width: 10px;
}

.studentInfo::-webkit-scrollbar-track {
  width: 10%;
}

.studentInfo::-webkit-scrollbar-thumb {
  background: rgb(134, 177, 230);
  border-radius: 10px;
}

.studentInfo::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 40px;
}

.studentInfo::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 40px;
}

.PhotoRow {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
